@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for choosing our hospital for your healthcare needs.</p>
    <p>Here, We Strive to provide the highest quality medical Care to Our patients.</p>
    <p>Learn more about our services and specialties:</p>
    <table class="table border ">
        <tr>
            <td>Internal Medicine</td>
        </tr>
        <tr>
            <td>pediatrics</td>
        </tr>
        <tr>
            <td>Surgery</td>
        </tr>
    </table>
    <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>
</div>
